{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
  About Company
</h1>
<p>
  <address> Marie Donoval <br> 123 WIT Cork Road <br> Waterford City <br> Ireland </address>
  marie.donoval@wit.ie <br>
  +3538612345678
</p>
<img src="https://cdn.glitch.com/d25af25c-c42f-4814-8a76-a058717a8a1b%2Fthumbnails%2Fmap.png?1519142823669" alt="map">
</section> 