{{> menu id="contact"}}

<section class="ui center aligned middle aligned segment">
<form class="ui form">
  <h1 class="ui dividing header">Contact us for further questions.</h1>
    <div class="field">
      <label>Name</label>
        <div class="field">
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="last-name" placeholder="Last Name">
        </div>
    </div>
 
    <div class="field"></div>
  </div>
  <div class="field">
    <label>Message Us</label>
    <textarea></textarea>
  </div>

  <div class="ui submit button">Send Message</div>
</form>
</section>